<!-- Categories Widget -->
{% set nb = (categories | length) %}
<div class="card my-4">
    <h5 class="card-header">Categories ({{ nb }})</h5>
    <div class="card-body">
        <div class="row">
            {% for index, category in categories %}
                {% if (index%(nb/2) | number_format()) == 0 %}
                    <div class="col-lg-6"><ul class="list-unstyled mb-0">
                {% endif %}
                <li><a href="#">{{ category.getName() }}</a></li>
                {% if (index%(nb/2) | number_format()) == (((nb/2)-1) | number_format()) %}
                    </ul></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>