{% extends "show/base.html.twig" %}

{% block pageHeading %}
    Users
{% endblock pageHeading %}

{% block content %}
	<table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fullname</th>
                <th scope="col">Email</th>
                <th scope="col">Roles</th>
                <th scope="col">Shows</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td scope="row">1</td>
                    <td>{{ user.getFullname() }}</td>
                    <td>{{ user.getUsername() }}</td>
                    <td>{{ user.getRoles() | join(",") }}</td>
                    <td>
                        {% for show in user.getShows() %}
                            {{ show.getName() }}{% if not loop.last %}, {% endif %}
                        {% else %}
                            No shows yet !
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}